.contact {
    padding: 64px 16px 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DBEAF7;
    &__description {
        margin: 0 auto 56px;
        @media screen and (min-width: 1024px) {
            margin-bottom: 128px;
        }
    }
    &__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__heading {
        margin: 0 auto 32px;
        @media screen and (min-width: 1024px) {
            margin: 16px auto 40px;
        }
    }
}

.icons {
    width: 192px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    @media screen and (min-width: 1024px) {
        margin-right: 90px;
        margin-bottom: 88px;
    }
    &__link {
        width: 48px;
        height: 48px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        display: flex;
        align-items:center;
        justify-content: center;
        box-shadow:
        1px 1.8px 2.2px rgba(0, 0, 0, 0.011),
        2px 2.7px 5.3px rgba(0, 0, 0, 0.015),
        4px 4.5px 10px rgba(0, 0, 0, 0.023),
        7px 7.3px 17.9px rgba(0, 0, 0, 0.032),
        11px 11.8px 33.4px rgba(0, 0, 0, 0.047);
        // 20px 20px 80px rgba(0, 0, 0, 0.6);;
        &:hover {
            background-color: rgb(245, 245, 245);
            box-shadow:  
            1px 1.8px 2.2px rgba(0, 0, 0, 0.005),
            2px 2.7px 5.3px rgba(0, 0, 0, 0.011),
            4px 4.5px 10px rgba(0, 0, 0, 0.017),
            7px 7.3px 17.9px rgba(0, 0, 0, 0.027),
            11px 11.8px 33.4px rgba(0, 0, 0, 0.035),
            20px 20px 80px rgba(0, 0, 0, 0.05);
        }
    }
}

