.my-projects {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__heading {
        margin: 48px auto 32px;
    }
    &__description {
        margin: 0 auto 48px;
    }
}
.left-column {
    margin: 0;
    justify-self: end;
    margin: 0 4px 8px 4px;
    color: #808082;
    letter-spacing: 1px;
    
}
.right-column {
    margin: 0;
    color: #808082;

}

.project {
    font-family: 'Roboto', sans-serif;
    background-color: #212528;
    border-radius: 0 0 16px 16px;
    padding: 24px 16px;
    font-weight: 300;
    line-height: 24px;
    
    &__description {
        margin-bottom: 24px;
        color: #A3A3A3;
    }
    &__dot {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #464A4D;
        margin-left: 8px;
    }
    &__container {
        box-sizing: border-box;
        max-width: 288px;
    }
    &__icon {
        margin-bottom: 24px;
    }
    &__link {
        color: #14B5D0;
    }
    &__name {
        font-weight: 500;
        color: #FFF;
    }

    &__grid {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0;
    }

    &__top-border {
        box-sizing: border-box;
        height: 40px;
        background-color: #1E1E1E;
        width: 100%;
        border-radius: 16px 16px 0 0;
        display: flex;
        align-items: center;
        padding-left: 8px;
    }


}



