.skills {
    background-color: #1070CA;
    padding: 16px;
    color: #FFF;
    &__heading {
        color: #FFF;
        margin: 48px auto 64px;
        @media screen and (min-width: 1024px) {
            margin: 64px auto 128px;
        }
    }
    @media screen and (min-width: 1024px) {
        min-height: 100vh;   
    }
}

.skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 288px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 1024px) {
            max-width: 1000px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
        }
    }
    &__emoji {
        font-size: 64px;
        margin-bottom: 16px;
    }
    &__header {
        color: #FFF;
        font-size: 24px;
        font-weight: 700;
        line-height: 44px;
        margin: 0;
        margin-bottom: 24px;
    }
    @media screen and (min-width: 1024px) {
        max-width: 380px;
    }
}

.list {
    margin: 0;
    list-style: none;
    text-align: left;
    padding-inline-start: 0px;
    width: 100%;
    margin-bottom: 60px;
    &__element {
        color: #DBEAF7;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 12px;
        &--work::before {
            display: inline-block;
            content: '';
            background-image: url('../assets/img/small-tick-green.svg');
            height: 10px;
            width: 12px;
            margin-right: 12px;
        }
        &--know::before {
            display: inline-block;
            content: '';
            background-image: url('../assets/img/small-tick-blue.svg');
            height: 10px;
            width: 12px;
            margin-right: 12px;
        }
        &--learn::before {
            display: inline-block;
            content: '';
            background-image: url('../assets/img/dot.svg');
            margin: 3.5px 17px 3.5px 5px;
            height: 3px;
            width: 2px;
            margin-right: 12px;
        }
    }
    @media screen and (min-width: 1024px) {
        max-width: 225px;
    }
}