@import "~normalize.css";

@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap');

.main {
  color: rgba(66, 90, 112, 1);
  font-family: 'Nunito', sans-serif;
  
}

.description {
  color:rgba(66, 90, 112, 1);
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 40px;
  }
}

.heading {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  @media  screen and (min-width: 1024px) {
    font-size: 48px;
    line-height: 56px;
  }
}

.mail-link {
  background-color: #4DA8FF;
  border-radius: 64px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  line-height: 40px;
  padding: 4px 24px;
  font-weight: 600;
  box-shadow:  
  1px 1.8px 2.2px rgba(0, 0, 0, 0.011),
  2px 2.7px 5.3px rgba(0, 0, 0, 0.022),
  4px 4.5px 10px rgba(0, 0, 0, 0.035),
  7px 7.3px 17.9px rgba(0, 0, 0, 0.047),
  11px 11.8px 33.4px rgba(0, 0, 0, 0.055);
  
  &:hover {
    background-color: rgb(44, 148, 247);
  }
}
