@import "~normalize.css";

@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap');

.main {
  color: rgba(66, 90, 112, 1);
  font-family: 'Nunito', sans-serif;
  
}

.description {
  color:rgba(66, 90, 112, 1);
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
}

.mail-link {
  background-color: #4DA8FF;
  border-radius: 64px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  line-height: 40px;
  padding: 4px 24px;
  font-weight: 600;
}
